# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.reversi.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\source\repos\reversi_dotnet\.idea\.idea.reversi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
